@tailwind base;
@tailwind components;
@tailwind utilities;

.header-btn {
  @apply inline ml-2 py-1 px-3 border-2 rounded-full border-indigo-600 text-indigo-600 hover:text-white hover:bg-indigo-800 focus:outline-none focus:ring focus:ring-violet-300;
}

.react-paginate li {
  @apply p-3;
}

.react-paginate .selected {
  @apply text-purple-600;
}

.react-paginate .disabled {
  @apply text-purple-300;
}

.input {
  @apply py-2 px-6 text-gray-600 border-2 rounded-3xl border-white;
}

button:disabled,
input:disabled {
  @apply text-gray-600 border-gray-400 hover:bg-transparent;
}

.btn-decorate {
  @apply rounded-full border-indigo-600 text-indigo-600 hover:text-white hover:bg-indigo-800 focus:outline-none focus:ring focus:ring-violet-300;
}
